@use 'configs/responsive';

.infos {

  &__text {

    ul {
      margin-right: 20px;

      li {
        line-height: 150%;
        list-style: disc;
        list-style-position: inside;

        &::marker {
          color: #a47f34;
        }
      }
    }
  }

  &__img {
    height: 300px;
    border: 5px solid #fff;
    box-shadow: 10px -10px 50px -15px #000;
  }

  @include responsive.media(mobile) {

    &__text {

      ul {

        margin: 0;
      }
    }

    &__img {
      display: none;
    }
  }

  @include responsive.media(tablet) {
    &__img {
      display: none;
    }
  }

  @include responsive.media(desktop) {
    &__img {
      margin-top: 50px;
      height: 200px;
    }
  }
}