@use 'configs/variaveis';
@use 'components/infos-bar';
@use 'components/button';
@use 'components/modal';
@use 'hero';
@use 'infos';
@use 'ambientes';
@use 'line-up';
@use 'footer';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: variaveis.$corTextoPrincipal;
  font-family: 'Rethink Sans', sans-serif;
  list-style: none;
}

body {
  background: linear-gradient(0deg, rgba(199,180,150,1) 0%, rgb(255, 255, 255) 100%);  
}

.container {
  max-width: 1023px;
  width: 100%;
  padding: 100px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.title {
  color: #a47f34;
  font-size: 36px;
  margin-bottom: 50px;
}